body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

.nav-link {
  font-size: 20px;
}

main {
  width: 100vw;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  box-shadow: 0px 0px 5px 0px;
  margin-bottom: 0px;
}

html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track {
  background: #f8f9fa;
}

html::-webkit-scrollbar-thumb {
  background: #363636;
  border-radius: 10px;
}

.flex {
  display: flex;
}

#carosello {
  display: none;
}

.iconcine {
  width:20px;
}

.center {
  position:relative;
  bottom:50px;
}

.menù {
  top:48px;
  left:18px;
}

.width-220px {
  width:220px;
}

.dropdown-item:hover {
  background-color:#1371ff !important;
  color:white !important;
}





@media (max-width: 600px) {
  .flex {
    flex-direction: column;
    gap: 30px;
  }

  header {
    display: none;
  }

  .position {
    position: relative;
    left: 90px;
  }

  #carosello {
    display: block;
    margin-top: 100px;
  }

  .hero {
    display: none;
  }

  .left {
    position: relative;
    right: 25px;
    height: 300px !important;
  }

  .left:first-child {
    top: -50px;
  }

  .different-height {
    height: 360px !important;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .flex {
    flex-direction: column;
    gap: 40px;
  }

  header {
    display: none;
  }

  .card {
    width: 20rem !important;
  }

  .position {
    position: relative;
    left: 100px;
  }

  #carosello {
    display: block;
    margin-top: 90px;
  }

  .hero {
    display: none;
  }

  .different-height {
    height: 400px !important;
  }

  .left {
    position: relative;
    left: -60px;
    width: 560px !important;
  }

  .left:first-child {
    top: -40px;
  }

  .stretch {
    align-items: stretch;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  header {
    display: none;
  }

  #carosello {
    display: block;
    margin-top: 100px;
  }

  .hero {
    display: none;
  }

 .flex {
    flex-direction: row;
    gap:100px;
 }

 .position {
    position: relative;
    left:40px;
 }

 .stretch {
  height:350px !important;
 }


 

 
}

@media (min-width: 992px) and (max-width: 1460px) {
  header {
    display: none;
  }

  .flex {
    flex-direction: row;
    gap:80px;
  }

  .card {
    width:17rem !important;
  }
}

@media (min-width: 1460px) {
}
